.supportSection {
    width: 50%;
    height: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #f1f0f0b4;
    border-radius: 5px;
}

#supportTicketTextInput {
    width: 50%;
    display: block;
    margin: 0 auto;
    height: 240px;
}

#supportTicketTextInput:focus {
    outline: 1px solid #4CAF50; 
}

#supportTicketButton {
    margin-left: 10px;
    width: 97.8%;
    background-color: #4CAF50;
    border: none;
    text-align: center;
    color: white;
}

#supportTicketButton:hover {
    cursor: pointer;
    background-color: #306ae7dc;
}

#supportTicketButton:focus {
    outline: none;
}